<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mybatis_manytoone.entity.student.mapper">
    <!--
    多对一的处理方法
    1.按查询结果嵌套处理
    2.按查询去嵌套
    -->
    <!--按查询结果嵌套处理-->
<!--    <select id="getStudents" resultMap="studentTeacher">
        select s.id sid,s.name sname,s.tid stid, t.tid,t.name tname from student s,teacher t where s.tid = t.tid ;
    </select>
    <resultMap id="studentTeacher" type="Student">
        <id column="sid" property="id"/>
        <id column="sname" property="name"/>
        &lt;!&ndash;关联对象property 关联对象在Student实体类中的属性&ndash;&gt;
        <association property="teacher" javaType="Teacher">
        <id column="tid" property="tid"/>
        <id column="tname" property="name"/>
        </association>
    </resultMap>-->
    <!--按查询嵌套处理-->
    <select id="getStudents" resultMap="studentTeacher">
        select * from student
    </select>
    <resultMap id="studentTeacher" type="Student">
        <association property="teacher" column="tid" javaType="Teacher" select="getTeacher"/>
    </resultMap>
    <!--这个也可以写在另外一个xml文件中-->
    <select id="getTeacher" resultType="Teacher">
        select * from teacher where tid = #{id}
    </select>
</mapper>